bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
SchoolManagementSystem/appsettings.json
.idea/.idea.SchoolManagement System/.idea/.name
.idea/.idea.SchoolManagement System/.idea/dataSources.xml
.idea/.idea.SchoolManagement System/.idea/discord.xml
.gitignore
.idea/.idea.SchoolManagement System/.idea/encodings.xml
.gitignore
.idea/.idea.SchoolManagement System/.idea/vcs.xml
