@import url(base.css);

body.light {
  --primary-color: #bddcff;   
  --secondary-color: #a0ccff;
  --tertiary-color: rgb(212, 237, 252);;
  --accent-color:  #94c4f9;
  --background-color: #f4faff;

  --font-color-primary:  #0E0F19;
  --font-color-secondary: #f5faff;  

  --decline-button: #ff4463;
  --approve-button: #4ca0e7;
  --button-font: 'Roboto', sans-serif;
  --main-font: Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --hero-image: url('/imagesLight/hero-background.svg');
  --login-image: url('/imagesLight/login/login-background.svg');
  --user-icon: url('/imagesLight/user-light-mode.png');
  --large-user-icon: url('/imagesLight/user-icon-light-big.png');
  
  --vs-dropdown-bg: var(--tertiary-color);
  --vs-dropdown-option--active-bg: var(--accent-color);
  --vs-dropdown-option--active-color: var(--font-color-primary);
  --vs-search-input-color: var(--font-color-primary);
  --vs-dropdown-color: var(--font-color-primary);
  --vs-controls-color: var(--font-color-primary);
  --vs-dropdown-option-color: var(--vs-dropdown-color);
  --vs-dropdown-option-padding: 3px 20px;
  --vs-selected-border-color: var(--vs-border-color);
}

body.dark {
  --primary-color: #212b3f;
  --secondary-color: #151b27;
  --tertiary-color: #394867;
  --accent-color:  rgb(38, 48, 68);
  --background-color: #131924;

  --font-color-primary: rgb(241, 246, 249); 
  --font-color-secondary: rgb(241, 246, 249);

  --decline-button: #ff4463;
  --approve-button: #4ca0e7;
  --button-font: 'Roboto', sans-serif;
  --main-font: Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --hero-image: url('/images/hero-background.svg');
  --login-image: url('/images/login/login-background.svg');
  --user-icon: url('/images/user-dark-mode.png');
  --large-user-icon: url('/images/user-icon-dark-big.png');

  --vs-dropdown-bg: var(--tertiary-color);
  --vs-dropdown-option-bg: white;
  --vs-dropdown-option--active-bg: rgb(69, 88, 126);
  --vs-dropdown-option--active-color: #fff;
  --vs-search-input-color: #fff;
  --vs-dropdown-color: white;
  --vs-controls-color: white;
  --vs-dropdown-option-color: var(--vs-dropdown-color);
  --vs-dropdown-option-padding: 3px 20px;
  --vs-selected-color: white;
  --vs-selected-border-color: var(--vs-border-color);
  --vs-selected-bg: rgb(3, 59, 105);
}

.wh-p {
    color: var(--font-color-primary);
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

.align-c {
  text-align: center;
}

.main-title {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    color: inherit;
    width: 100%;
}

.subtitle{
    font-family: "Montserrat", sans-serif;

    font-size: 1.25rem;
    color: inherit;
}

#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
    /* overflow: hidden; */
}

textarea:focus, input:focus{
    outline: none;
}

table, tr, th {
  border-spacing: 5px;
  border-collapse: collapse;
}

tdf {
  white-space: nowrap;

}

.flex {
  display: flex;
}

.main-button {
    background-color: var(--primary-color);
    border: 1px solid transparent;
    border-radius: 0.75rem;
    color: var(--component-font-off-color);
    cursor: pointer;
    flex: 0 0 auto;
    font-family: Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.75rem 1.2rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .main-button:hover {
    background-color: var(--accent-color);
  }
  
  .main-button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  .secondary-button {
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--font-color-secondary);
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    font-family: Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.125rem;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 0.75rem 1.2rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform;
  }
  
.secondary-button:disabled {
    pointer-events: none;
}
  
.secondary-button:hover {
  color: var(--font-color-primary);
  background-color: var(--accent-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}
.add-button,
.decline-button {
  width: 4rem;
  min-width: fit-content;
  border-radius: 5px;
  padding: 0.5rem;
  backface-visibility: hidden;
  font-family: var(--button-font);
  font-size: 1rem;
  font-weight: bold;
}

.add-button {
  color: var(--font-color-secondary);
  background-color: var(--approve-button);
}
.decline-button {
  color: var(--font-color-secondary);

  background-color: #f05e77;
}
.add-button:hover {
  background-color: #2492ec;
}
.decline-button:hover {
  background-color: var(--decline-button);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}
.option-card {
  all: unset;
  background-color: #4ca0e7;
}


/* FORM STYLES-START */
.form-container {
  height: 100%;
  width: 100%;
  /* z-index: 999; */
  max-width: 25rem;
  max-height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  font-family: 'Robot', sans-serif;
}
.form {
  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 1rem;
  color: var(--font-color-primary);
}
.input-field {
  background-color: rgba(0, 45, 83, 1);
  background-color: var(--tertiary-color);
  font-size: 1rem;
  min-height: 2.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: inherit;
}
.submit-button {
  padding: 0.5rem;
  border-radius: 5px;
}
.submit-button:hover {
  background-color: #0068bd;
}
.select-wrapper {
  background-color: var(--tertiary-color);
  color: white;
  border-radius: 5px;
  width: 15.31rem;
}
/* FORM STYLE END */


/* LIST COMPONENT STYLES-START*/

.list-container {
  background-color: var(--primary-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  color: var(--font-color-primary);
  font-family: 'Roboto', sans-serif;

  width: 100%;
  border-radius: 15px;
  height: 100%;
}
.list {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem 0;
  min-height: fit-content;
  overflow-y: auto;
}
.main-title {
  min-height: fit-content;
  font-size: 1.5rem;
}

/* LIST COMPONENT STYLES-END */
.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* CHART STYLES */
.chart {
  background-color: var(--primary-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

}
/* CHART STYLES */
